In [1]:
import numpy as np
import matplotlib.dates as mdates
import pandas as pd
from datetime import datetime as dt

import os
import matplotlib.pyplot as plt

from datetime import datetime
import sys
from os import path

In [6]:
def datenumaz(d):
    return 366 + d.toordinal() + (d - dt.fromordinal(d.toordinal())).total_seconds()/(24*60*60)

In [7]:
wl = '/Users/amrozeidan/Desktop/EasyGSH/res2305_zeitrio/telemac_variables/free_surface/Europlatform.dat'

dateparse = lambda x: pd.datetime.strptime(x, '%d/%m/%Y %H:%M:%S')

data = pd.read_csv(wl , header =0 , parse_dates = ['TimeStep_No'], 
                         date_parser = dateparse, index_col =0 , squeeze=True)

dates = data.index.tolist()
date_num = list(map(datenumaz,data.index.tolist()))
elevations =  data.to_numpy()

In [8]:
lib_func_fol = '/Users/amrozeidan/Downloads/pytides-master'

sys.path.append(path.join(lib_func_fol , 'pytides' ))
import pytides

In [9]:
from tide import Tide

demeaned = elevations

tide = Tide.decompose(demeaned, dates)

In [10]:
elevations - np.mean(elevations)

array([ 1.2893811 ,  1.33288797,  1.15015753, ..., -0.30610721,
        0.03557505,  0.32305844])

In [11]:
import numpy as np
from pandas import DataFrame

constituent = [c.name for c in tide.model['constituent']]

df = pd.DataFrame(tide.model, index=constituent).drop('constituent', axis=1)

In [13]:
pTides = ['MM','MF','Q1','O1','K1','SO1','MU2','N2','NU2','M2','S2','2SM2','MO3','MN4','M4'
          ,'MS4','MK4','S4','M6','2MS6','S6','M8','M10','M12' ]

In [25]:
pTides_for_pytides = ['Mm','Mf','Q1','O1','K1','SO1','mu2','N2','nu2','M2','S2','2SM2','MO3','MN4','M4'
          ,'MS4','MK4','S4','M6','2MS6','S6','M8','M10','M12' ]

In [26]:
df

         amplitude       phase
Z0        0.860228    0.000000
M2        0.649087   84.177010
S2        0.186501  128.647206
N2        0.116904   51.503768
K1        0.056270   15.906929
M4        0.082081  166.206287
O1        0.096639  224.960047
M6        0.018381  155.971950
MK3       0.020402  309.499749
S4        0.008629  271.768713
MN4       0.029100  141.852877
nu2       0.040332   15.960617
S6        0.001120   13.041323
mu2       0.066261  242.986971
2N2       0.004922  187.365418
OO1       0.000364  340.621548
lambda2   0.039045  121.354509
S1        0.008185   94.859760
M1        0.002660   61.402359
J1        0.004367   20.937045
Mm        0.056846  349.585444
Ssa       0.091177  321.529651
MSF       0.083160   56.281380
Mf        0.016904  119.896920
rho1      0.009722  175.142760
Q1        0.035847  156.068219
T2        0.012084  150.117118
R2        0.013235  293.927664
2Q1       0.011787  309.122504
P1        0.016658   22.305331
2SM2      0.016894   81.487245
M3        0.005668  344.762785
L2        0.087895  143.168726
2MK3      0.012408  157.805991
K2        0.059491  134.863588
M8        0.003703  168.452808
MS4       0.053125  218.428160

In [28]:
df.loc[pTides_for_pytides , ['amplitude' , 'phase']]

      amplitude       phase
Mm     0.056846  349.585444
Mf     0.016904  119.896920
Q1     0.035847  156.068219
O1     0.096639  224.960047
K1     0.056270   15.906929
SO1         NaN         NaN
mu2    0.066261  242.986971
N2     0.116904   51.503768
nu2    0.040332   15.960617
M2     0.649087   84.177010
S2     0.186501  128.647206
2SM2   0.016894   81.487245
MO3         NaN         NaN
MN4    0.029100  141.852877
M4     0.082081  166.206287
MS4    0.053125  218.428160
MK4         NaN         NaN
S4     0.008629  271.768713
M6     0.018381  155.971950
2MS6        NaN         NaN
S6     0.001120   13.041323
M8     0.003703  168.452808
M10         NaN         NaN
M12         NaN         NaN